<!DOCTYPE html>
<html>  
<head>  
    <title>Uploading file</title>  
</head>  
<body>  
    <form method = "POST" enctype="multipart/form-data" action = "/">    
        <input type="file" name="file" accept=".json">
        <input type = "submit" value="Upload">  
    </form>
    <p> File uploaded successfully!! </p>
    <button id="1month">Last month</button>
    <button id="1yr">Last year</button>
    <button id="all">All time</button>

    <script>
        document.getElementById("1month").addEventListener("click", function() {
            window.location.href = "/show_data?time=30";
        });
        document.getElementById("1yr").addEventListener("click", function() {
            window.location.href = "/show_data?time=365";
        });
        document.getElementById("all").addEventListener("click", function() {
            window.location.href = "/show_data?time=100";
        });
    </script>
</body>  
</html>