<!DOCTYPE html>
<html>  
<head>  
    <title>Uploading file</title>  
</head>  
<body>  
    <form method = "POST" enctype="multipart/form-data" action = "/">    
        <input type="file" name="file" accept=".json">
        <input type = "submit" value="Upload">  
    </form>
    <p> File uploaded successfully!! </p>
  <form action="/show_data">
        <input type="submit" value="Show past month"/>
    </form>
    <form action="/show_data">
        <input type="submit" value="Show past year"/>
    </form>
    <form action="/show_data">
        <input type="submit" value="Show all time"/>
    </form>
</body>  
</html>