
<!DOCTYPE html>
<html lang="en">
<head>
  </head>
  <body>
    <br>
    <p>Your top topics</p>
    <ul>
        {% for item in tag %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <p>Your top channels</p>
    <ul>
        {% for item in channel %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <p>Your most watched videos</p>
    <ul>
        {% for item in vids %}
        <iframe width="420" height="315"
        src={{item}}>
        </iframe>
        {% endfor %}
    </ul>
    </body>
    <footer>
        <p><a href="{{ url_for('home', ao3user=session['username']) }}">Home</a></p>
      </footer>
</html>